<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.leon.myapp">

    <!--
    <uses-permission />
    <permission />
    <permission-tree />
    <permission-group />
    <instrumentation />
    <uses-sdk />
    <uses-configuration />
    <uses-feature />
    <supports-screens />
    <compatible-screens />
    <supports-gl-texture />
    -->
    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MyAppTheme">

        <!--
        <activity>
            <intent-filter>
                <action />
                <category />
                <data />
            </intent-filter>
            <meta-data />
        </activity>
        -->

        <receiver android:name=".MyAppWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/my_app_widget_provider_info"/>
        </receiver>

        <activity
            android:name=".Views.SplashScreen.SplashActivity"
            android:noHistory="true"
            android:resizeableActivity="true"
            android:theme="@style/SplashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Views.Login.LoginActivity"
            android:resizeableActivity="true"
            android:theme="@style/LoginScreenTheme" />
        <activity
            android:name=".Views.Registration.RegistrationActivity"
            android:resizeableActivity="true"
            android:theme="@style/LoginScreenTheme" />
        <activity
            android:name=".Views.Main.MainActivity"
            android:configChanges="orientation"
            android:resizeableActivity="true"
            android:supportsPictureInPicture="true" />
        <activity
            android:name=".Views.Main.Practice.Service.ServiceActivity"
            android:resizeableActivity="true" />

        <!-- Services -->
        <service
            android:name=".Views.Main.Practice.Service.MyService"
            android:resizeableActivity="true" />

        <activity
            android:name=".Views.Main.Practice.Notification.NotificationActivity"
            android:resizeableActivity="true" />
        <activity
            android:name=".Views.Main.Practice.NavigationDrawer.NavigationDrawerActivity"
            android:resizeableActivity="true" />
        <activity
            android:name=".Views.Main.Practice.CustomNavigationDrawer.CustomNavigationDrawerActivity"
            android:resizeableActivity="true" />
        <activity android:name=".Views.Main.Practice.DragAndDrop.DragAndDropActivity" />
        <activity
            android:name=".MyAppWidgetConfigureActivity"
            android:label="@string/title_activity_my_app_widget_configure"
            android:theme="@style/MyAppTheme"></activity>
    </application>

</manifest>