<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.leon.myapp">

    <!--
    <uses-permission />
    <permission />
    <permission-tree />
    <permission-group />
    <instrumentation />
    <uses-sdk />
    <uses-configuration />
    <uses-feature />
    <supports-screens />
    <compatible-screens />
    <supports-gl-texture />
    -->
    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MyAppTheme">

        <!--
        <activity>
            <intent-filter>
                <action />
                <category />
                <data />
            </intent-filter>
            <meta-data />
        </activity>
        -->

        <activity
            android:name=".Views.SplashScreen.SplashActivity"
            android:noHistory="true"
            android:theme="@style/SplashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Views.Login.LoginActivityView"
            android:theme="@style/LoginScreenTheme" />
        <activity
            android:name=".Views.Registration.RegistrationActivityView"
            android:theme="@style/LoginScreenTheme" />
        <activity
            android:name=".Views.Main.MainActivity"
            android:configChanges="orientation" />
        <activity android:name=".Views.Main.Practice.Service.ServiceActivity" />

        <!-- Services -->
        <service android:name=".Views.Main.Practice.Service.MyService" />

        <activity android:name=".Views.Main.Practice.Notification.NotificationActivity" />
        <activity android:name=".Views.Main.Practice.NavigationDrawer.NavigationDrawerActivity" />
        <activity android:name=".Views.Main.Practice.CustomNavigationDrawer.CustomNavigationDrawerActivity"></activity>
    </application>

</manifest>